<% title "마이도우미 신청" %>
<form id="order_form">
	<ul id="progressbar">
		<li class="active">지역</li>
		<li>Step 2</li>
		<li>Step 3</li>
		<li>Step 4</li>
	</ul>
	<fieldset>
		<h2 class="form_title">지역</h2>
		<h3 class="form_subtitle">도우미가 필요한 곳의 동이름을 입력해주세요</h3>
		<input type="text" name="region" placeholder="역삼동" />
		<input type="button" name="next" class="next action-button" value="다음" />
	</fieldset>
	<fieldset>
		<h2 class="form_title">지역</h2>
		<h3 class="form_subtitle">도우미가 필요한 곳의 동이름을 입력해주세요</h3>
		<input type="text" name="region" placeholder="역삼동" />
		<input type="button" name="previous" class="previous action-button" value="이전" />
		<input type="button" name="next" class="next action-button" value="다음" />
	</fieldset>
	<fieldset>
		<h2 class="form_title">지역</h2>
		<h3 class="form_subtitle">도우미가 필요한 곳의 동이름을 입력해주세요</h3>
		<input type="text" name="region" placeholder="역삼동" />
		<input type="button" name="previous" class="previous action-button" value="이전" />
		<input type="button" name="next" class="next action-button" value="다음" />
	</fieldset>
	<fieldset>
		<h2 class="form_title">지역</h2>
		<h3 class="form_subtitle">도우미가 필요한 곳의 동이름을 입력해주세요</h3>
		<input type="text" name="region" placeholder="역삼동" />
		<input type="button" name="previous" class="previous action-button" value="이전" />
		<input type="submit" name="submit" class="submit action-button" value="신청" />
	</fieldset>
</form>	